 
  /* Style for the toggle switch */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide the default checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Slider (the visible part of the switch) */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px; /* Rounded slider */
}

/* Slider when toggled (checked) */
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%; /* Round indicator */
}

/* Change background color when checked */
input:checked + .slider {
  background-color: #009849; /* Blue color for light mode */
}

/* Move the indicator when checked */
input:checked + .slider:before {
  transform: translateX(26px); /* Position the indicator */
}

/* Dark mode styles */
body.dark-mode {
  background-color: #000000;
  color: #fff;
}

body.dark-mode .switch input:checked + .slider {
  background-color: #000000; /* Darker color for dark mode */
}

body.dark-mode .slider:before {
  background-color: #000000; /* Adjust indicator color for dark mode */
}
